a, a:hover {
    color: #426298;
}

#mediaContainer > div:nth-child(1) h4 {
    margin-top: 0;
}

.date {
    display: inline-block;
}

.date:first-letter {
    text-transform: uppercase;   
}

.resultcontainer {
    padding-bottom: 12px;
}

.facetscontainer {
    padding-top: 8px;
}