a, a:hover {
    color: #008766;
}

.form-control:focus {
    border-color: #008766;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,135,102,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,135,102,0.6);
}

#searchresult {
    margin-top: 26px;
}

.date {
    display: inline-block;
}

.date:first-letter {
    text-transform: uppercase;   
}

.resultcontainer {
    padding-bottom: 18px;
}

.facetscontainer {
    padding-top: 8px;
}

.facetscontainer span.label {
    margin-right: 4px;
}

.page-header {
    margin: 0 0 22px;
}

a.novanet, a.novanet:hover, a.novanet:visited {
    color: #008766;
}